@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Coda&family=Teko:wght@300&display=swap');
/*
font-family: 'Black Ops One', cursive;
font-family: 'Coda', cursive;
#d4ac4c
*/

.navbar-light .navbar-brand{
	font-family: 'Black Ops One', cursive;
	color:#d4ac4c;
	font-size: 28px;
}

.btn-primary, .bg-accent{
	background: #d4ac4c;
	border-color:#fff;
}

.accent{
	color:#d4ac4c;
}

.display1, .display2, .display3, .display4, h1, h2, h3, h4, h5, h6{
	font-family: 'Teko', sans-serif
}

#logoicon{
	display:inline-block; width: 50px; vertical-align: middle;
}

@media screen and (max-width:540px){
	#logoicon{
		width:30px;
	}
	.navbar-light .navbar-brand{
		font-size: 17px;
	}
}